<h1>{{ title() }}</h1>
<app-navbar></app-navbar>

<img [src]="imageUrl" alt="Angular Logo" width="20" height="20">

<!-- Not working as expected 
  because string interpolation converts the boolean value to a string, 
  which is not valid for the disabled attribute. -->
<button disabled="{{isDisabled}}" class="cursor-pointer border-1">
  Disable using String interpolation. 
</button>

 <!-- Working becasue property binding allows you to bind the boolean value directly
  to the disabled attribute,
  which is the correct way to enable or disable the button based on the value of isDisabled -->
<br/>
<br/>
  <button [disabled]="isDisabled" class="cursor-pointer border-1">
  Disable using Property Binding.   
 </button>
<br/>
<br/>
 <button  class = "btn btn-primary border-1 cursor-pointer " [class.active] = "isActive" [class.no-active] = "!isActive"> Click me </button>
<br/>
<br/>
<button [disabled]="fruit !== 'apple'" class="border-1">Only enable if fruit is apple</button>
<br/>
<br/>
<button [style.backgroundColor]="isActive ? 'lightblue' : 'red'">Click</button>
<br/>
<button (click)="buttonxClicked()" class = "btn btn-primary border-1 cursor-pointer">Click me</button>
<br/>
<br/>
<input type="text" (keyup)="keyEnter($event)" class="border-1" placeholder="Type something...">
<br/>
<br/>
<!-- // Template reference variable -->
<input type="text" [value]="userName" #username (keyup.enter)="updateUserName(username)" class="border-1" placeholder="Type your name...">
<br/>
<!-- // Two-way data binding -->
<input type="text" [(ngModel)]="userName" class="border-1"/>
<p>Your name is: {{ userName }}</p>

<p>Type of Angular directives:</p>
<ul>
  <li>Component Directives: Every Angular component is directive with template. </li>
  <li>Attribute Directives: The directives change the appearance or behavior of an element, component, or another directive.:ngStyle, ngClass, ngModel</li>
  <li>Structural Directives: *ngIf, *ngFor, *ngSwitch: The directives alter layout of the DOM by add or remove elements.</li>
  <li>Custom Directives: You can create your own custom directives to extend the functionality of Angular.</li>
</ul>

@if(true) {
  <button class="border-1"> Test if </button>
}
@else {
  <button class="border-1"> Test else </button>
}